body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    position: relative;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    gap: 26px; /* Espacio entre elementos */
    width: 100%; /* Asegúrate de que el contenedor tenga suficiente ancho para envolver los elementos */
    max-width: 800px; /* Limita el ancho del contenedor para observar mejor el comportamiento de envolvimiento */
}

.profile, .links {
    height: 300px; /* Igual en altura inicial */
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Ajuste en la base del tamaño de los elementos con flex */

.profile {
    flex: 1 1 150px; /* Flex-grow: 1, flex-shrink: 1, flex-basis: 200px */
}

.links {
    flex: 1 1 250px; /* Flex-grow: 1, flex-shrink: 1, flex-basis: 200px */
}

/* Cambia el tamaño de la altura en el wrap con media queries */
@media (max-width: 900px) {
    .container {
        width: 90%; /* Asegúrate de que el contenedor tenga suficiente ancho para envolver los elementos */
    }
}
@media (max-width: 600px) {
    .container {
        width: 330px; /* Asegúrate de que el contenedor tenga suficiente ancho para envolver los elementos */
    }
    .profile, .links {
        flex: 1 1 250px; /* Flex-grow: 1, flex-shrink: 1, flex-basis: 250px */
    }
    .profile{
        height: 200px; /* Altura reducida después del wrap */
    }
}
@media (max-width: 400px) {
    .container {
        width: 80%; /* Asegúrate de que el contenedor tenga suficiente ancho para envolver los elementos */
    }
    .profile, .links {
        flex: 1 1 250px; /* Flex-grow: 1, flex-shrink: 1, flex-basis: 250px */
    }
    .profile{
        height: 200px; /* Altura reducida después del wrap */
    }
}

.profile img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.profile h1 {
    margin: 10px 0;
    font-size: 24px;
    line-height: 1.2;
}

.container-contact {
    display: none;
}
